@model InMemDbPizza.Models.MenuViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="col-sm-2">
    <p>
        <ul class="list-group">
            <li class="list-group-item list-group-item-warning">
                Categories
            </li>

            <li class="list-group-item">
                <a asp-action="Index" asp-controller="Home">
                    All pizzas
                </a>
            </li>

            @foreach (var category in Model.Categories)
            {
                <li class="list-group-item">
                    <a asp-action="Index" asp-controller="Home" asp-route-categoryId="@category.CategoryId">
                        @category.Name
                    </a>
                </li>
            }
        </ul>
    </p>
</div>
<div class="col-sm-7">
    <p>
        <form asp-action="CartAddToDish" asp-controller="Cart" >
        <ul class="list-group">
            <li class="list-group-item list-group-item-warning">
                @(Model.Category == null ? "All pizzas": Model.Category.Name)
            </li>

            @foreach (var item in Model.Dishes)
            {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-1">
                        <img src="~/images/pizza-slice.png" style="height: 30px" />
                    </div>
                    <div class="col-sm-7">
                        <p>@item.Name<text>,</text> @Html.DisplayFor(x => item.Price)</p>
                        @*<p>
                        <i>
                            @foreach (var dishIngredient in item.DishIngredients)
                            {
                                @dishIngredient.Ingredient.Name<text>,</text>
                            }
                        </i>
                        </p>*@
                    </div>
                    <div class="col-sm-4 row">
                        <div class="col-sm-5">
                            <button type="submit" class="btn btn-default btn-sm float-right" name="submit" value="edit-@item.DishId">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Edit
                            </button>
                        </div>
                        <div class="col-sm-7">
                            <button type="submit" class=" btn btn-default btn-sm float-right" name="submit" value="add-@item.DishId">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
            </li>   
            }
        </ul>
    </form>
    </p>
</div>
