@model InMemDbPizza.Models.MenuViewModel


<p>

    <ul class="list-group">
        <li class="list-group-item list-group-item-warning list-group-item-heading">
            Cart
        </li>
        <li class="list-group-item">
            
            @if(Model.Cart.CartItems.Count == 0)
            {
                <p>Empty cart @*#@Model.Cart.CartId*@</p>
            }
            else
            {
                @foreach (var item in Model.Cart.CartItems)
                {
                    <p>
                        <div class="row">
                            <div class="col-sm-8">
                                <a asp-action="DeleteCartItem" asp-controller="Cart" asp-route-cartItemId="@item.CartItemId">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                <a asp-action="EditCartItem" asp-controller="Cart" asp-route-cartItemId="@item.CartItemId">
                                    <span class="glyphicon glyphicon-edit"></span></a>
                                @item.Dish.Name (@item.Quantity)
                            </div>
                            <div class="col-sm-4">
                                <span class="pull-right">@(item.Dish.Price * item.Quantity) kr</span>
                            </div>
                        </div>
                    </p>
                }
                <hr />
                <p>
                    <div class="row">
                        <div class="col-sm-12">
                            Total:
                            <span class="pull-right">@Model.Cart.CartItems.Sum(x => x.Dish.Price * x.Quantity) kr</span>
</div>
                    </div>
                </p>
            }
            <hr />
            <a href="#" class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-shopping-cart"></span> Buy now
            </a>
        </li>
    </ul>

</p>